<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          <img src="images/wordle.png" alt="wordle" width="200"></p>
          <img src="images/sidebarpic_03.png" alt="cholesterol" style="width:200px;height:200px;">           
             
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
<!--        
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>
--> 

      <a class="sidebar-nav-item" href="index.html">Home</a>
      <a class="sidebar-nav-item" href="research.html">Research</a>
      <a class="sidebar-nav-item" href="people.html">People</a>
      <a class="sidebar-nav-item" href="publications.html">Publications</a>
      <a class="sidebar-nav-item" href="links.html">Links</a>
      <a class="sidebar-nav-item" href="contact.html">Contact</a>
 
<!--
      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
        
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        
          {% endif %}
        {% endif %}
      {% endfor %}
-->
      <!--<a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a>-->
      <!--<span class="sidebar-nav-item">Currently v{{ site.version }}</span>-->
    </nav>

    <p> {{ site.time | date: '%B %d, %Y' }}.  </p>
  </div>
</div>
